repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-format
      - id: ruff
        args: ['--config', 'pyproject.toml', '--fix', '--exit-non-zero-on-fix']
  - repo: local
    hooks:
      - id: ty-check
        name: ty check
        language: system
        entry: uv run ty check . --project qecc --python .venv
        files: .py$
